:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --transition: var(--timing-function) var(--animation-duration);
  --main-txt-cl: #212121;
  --main-cl: #5a7cff;
  --main-bg-cl: #e3e9ff;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.search-btn {
  cursor: pointer;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 30px;
}

.gallery {
  display: grid;
  max-width: 1640px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /*grid-auto-rows: 240px;*/
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 30px;*/
  color: var(--main-txt-cl);
}

.load-more {
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
  /*margin-bottom: 40px;*/
  padding: 10px 20px;
  border: 3px solid var(--main-cl);
  border-radius: 5px;
  color: currentColor;
  background-color: var(--main-bg-cl);
  transition: color var(--transition), background-color var(--transition);
  cursor: pointer;
}

.load-more:hover {
  color: var(--main-bg-cl);
  background-color: var(--main-txt-cl);
}

.load-more.is-hidden {
  display: none;
}

.photo-card {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

  display: block;
  text-decoration: none;
  color: currentColor;
  overflow: hidden;
}

.photo-card:hover {
  cursor: zoom-in;
}

.photo-card:hover .photo-card__img {
  transform: scale(1.03);
}

.photo-card__img {
  display: block;
  width: 100%;
  height: 240px;
  object-fit: cover;
  transition: transform var(--transition);
}

.info {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}

.info-item {
  margin: 0;
  text-align: center;
}